# question 1. List and it default functions

In [2]:
lst = ["ankit",20, 8907, 23.78, [1,2,3,4]]

In [3]:
lst

['ankit', 20, 8907, 23.78, [1, 2, 3, 4]]

In [4]:
lst[0]

'ankit'

In [5]:
lst[4][2]

3

In [6]:
lst.append("tigga")

In [7]:
lst

['ankit', 20, 8907, 23.78, [1, 2, 3, 4], 'tigga']

In [8]:
lst.index(20)

1

In [9]:
lst[-1]

'tigga'

In [10]:
lst [-4]

8907

In [11]:
lst[2]

8907

# question 2. dictionary and its default functions

In [13]:
dit = {"name": "ankit tigga", "age":"21", "mobile number":1254897369, "emialid":
       "tiggadesire@gmail.com"}

In [14]:
dit

{'name': 'ankit tigga',
 'age': '21',
 'mobile number': 1254897369,
 'emialid': 'tiggadesire@gmail.com'}

In [15]:
dit.get('name')

'ankit tigga'

In [16]:
dit["name"]

'ankit tigga'

In [17]:
dit.items()

dict_items([('name', 'ankit tigga'), ('age', '21'), ('mobile number', 1254897369), ('emialid', 'tiggadesire@gmail.com')])

In [18]:
dit.keys()

dict_keys(['name', 'age', 'mobile number', 'emialid'])

In [19]:
dit.pop("name")

'ankit tigga'

In [20]:
dit["School"] = "St. stephen's boys middle school"

In [21]:
dit

{'age': '21',
 'mobile number': 1254897369,
 'emialid': 'tiggadesire@gmail.com',
 'School': "St. stephen's boys middle school"}

In [22]:
type(dit)

dict

# question 3. Sets & its default functions

In [24]:
st = {"tigga", "jharkhand", 1,2,3,3,4,4,5,6,3,6,7}

In [25]:
st

{1, 2, 3, 4, 5, 6, 7, 'jharkhand', 'tigga'}

In [26]:
st1 = {"tigga",1}

In [27]:
st1.issubset(st)

True

# question 4. Tuple & explore default methods

In [29]:
tup = ("tigga", "@", "gmail.com")

In [30]:
tup

('tigga', '@', 'gmail.com')

In [31]:
tup.count("tigga")

1

In [32]:
tup.index("gmail.com")

2

# question 5. Strings & explore default methods.

In [33]:
str("call me boss")

'call me boss'

In [34]:
print('hello world!')

hello world!

In [35]:
print('I\'m going to the movies')

I'm going to the movies

In [37]:
firstVariable = 'jharkhand'
print(firstVariable)

jharkhand

In [38]:
print(firstVariable.lower())

jharkhand

In [39]:
print(firstVariable.upper())

JHARKHAND

In [40]:
print(firstVariable.title())

Jharkhand

In [42]:
secondvariable = 'india meri jaan'
print(secondvariable)

india meri jaan

In [44]:
"0" * 3

'000'

In [45]:
print( "0" + "1")

01

In [46]:
"cool" + "down"

'cooldown'